.main{
    width: 500px;
    height:500px;
    background: red;
    overflow: hidden;
    background:url(https://rukminim2.flixcart.com/image/850/1000/kxxl9jk0/poster/b/g/l/small-1tnnqyns-leaves-light-green-background-wallpaper-poster-vp-original-imaga9xskywbqaxv.jpeg?q=90&crop=false);
    border-radius: 10px;
    box-shadow: 5px 20px 50px black;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
button{
    width: 60%;
    height: 40px;
    background: #573b8a;
    justify-content: center;
    color:white;
    display: block;
    margin: 10px auto;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
.login{
    height: 460px;
    background: white;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #573b8a;
    transform: scale(.6);
}
#chk:checked~.login{
    transform: translateY(-500px);
}
#chk:checked~.login label{
    transform: scale(1);
}
#chk:checked~.signup label{
    transform: scale(.6);
}
ul {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    }
li {
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: center;
    list-style-type: none;
    }
ol{
    display:flex;
    flex-direction:row;
    background-color:none;
    justify-content:center;
    align-items: center;
    }
      
a {
    display:block;
    position:relative;
    cursor:pointer;
    padding:8px 10px;
    text-decoration: none;
    color:white;
    }
a:before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:3px;
    background:white;
    transition: width .5s;
    }

a.active{
   background:white;
   color:black;
}
tr,td{
    padding:15px;
        
        }
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.center button{
    padding:10px 20px;
    font-size:15px;
    font-weight:600;
    color:white;
    background:black;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:3px;

}
.popup .close-btn{
    position:absolute;
    top:10px;
    right:10px;
    width:15px;
    height:15px;
    text-align:center;
    line-height:15px;
    border-radius:5px;
    cursor: pointer;
}
.popup .form .form-element .label{
    font-size:14px;
    color:#fdfbfb;

}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin: top 5px;
    display:block;
    width:100%;
    padding:5px;
    outline:none;

}

.popup .form .form-element button{
    width:40%;
    height:30px;
    border:none;
    outline:none;
    margin:10px;
    font-size:16px;
    background:#be9d57 ;
    color: black;
    cursor:pointer;
}
.popup .form .form-element a{
    display:block;
    text-align:right;
    font-size:15px;
    color:#e7ebee;
    text-decoration: none;
    font-weight:600;
}
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 20px 30px;
    text-decoration: none;
    transition:background-color.3s;
    border :1px solid #ddd;
    margin :4px;
  }
.pagination a.active {
    background-color:darkred;
    color: white;
    border-radius: 5px;
  }
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
.box{
    position:relative;
    width:300px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:40px;
    background:none;
    transition: .5s;
}
.box:hover{
    height:400px;
}
.box  .imgbox{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    box-sizing:border-box;
}
